.header {
  width: 100%;
  height: 40%;
  padding-top: 10%;
  padding-left: 10%;
  font-size: 100px;
}

.home-text {
  position: fixed;
  width: 35%;
}

.uk-card{
  margin-bottom: 150px;
}

footer {
  height: 275px;
}

.main-container {
	width: 80%;
	margin-top: 10%;
	margin-left: 10%;
}

.projContainer {
    top: 0;
    background-color: #ffffff;
    z-index: 1000;
}

#projImg {
	width: 100%;
}

.media-button {
	width: 30px;
	clear: both;
	float: right;
}

.membContainer {
	margin-top: 5%;
}

.membHolder {
	margin-bottom: 20px !important;
	position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.membHolder:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

img.membImg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 80%;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.membHolder:hover .title {
  top: 10%;
}

.memButton {
  position: absolute;
	width: 20%;
  top: 70%;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.memButton a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.membHolder:hover .memButton {
  opacity: 1;
}

::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(211, 211, 211, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgb(204, 204, 204); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(226, 226, 226, 0.4); 
}

